<div class="container">
	<div class="row">
		<div class="col-xs-4  col-xs-offset-5 space">
			<h4>　オーナー情報編集</h4>
			<% if @owner.errors.any? %>
			    <ul>
				    <% @owner.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				    <% end %>
			    </ul>
			<% end %>
		</div>
	</div>
	<div class="row">
   		<div class="col-xs-8 col-xs-offset-2 space">
			<%= form_for(@owner , url: admins_owner_path(@owner)) do |f| %>
			<div class="row">
   				<div class="col-xs-4  col-xs-offset-1 space">
					<%= f.label :名前　　, {class: 'pull-right'} %>
				</div>
				<div class="col-xs-5">
					<%= f.text_field :name , class:"form-control" %>
				</div>
			</div>
			<div class="row">
   				<div class="col-xs-4  col-xs-offset-1 space">
					<%= f.label :メールアドレス, {class: 'pull-right'} %>
				</div>
				<div class="col-xs-5">
					<%= f.email_field :email , class:"form-control" %>
				</div>
			</div>
			<div class="row">
                <div class="col-xs-4  col-xs-offset-1 space">
                	<%= f.label :有効・無効, {class: 'pull-right'} %>
                </div>
                <div class="col-xs-1">
                	<%= f.radio_button :is_actived, :true , class:"form-control" %>
                </div>
                <div class="col-xs-2">
                	<p class="text_size">有効</p>
                </div>
                <div class="col-xs-1">
                	<%= f.radio_button :is_actived, :false , class:"form-control" %>
                </div>
                 <div class="col-xs-2">
                	<p class="text_size">無効</p>
                </div>
            </div>
			<div class="row">
                <div class="action col-xs-2 col-xs-offset-5 pull-center">
                    <%= f.submit "編集内容を保存する" , class:"btn btn-primary" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>