<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center space">
			<h3><%= @owner.name %>の情報</h3>
		</div>
		<div class="col-xs-3 text-center space">
	    <h6><%= link_to "オーナー情報の編集" , edit_admins_owner_path , class:"text-right" %></h6>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center space">
			<table class="table table-bordered">
				<tr>
					<td>名前</td>
					<td>メールアドレス</td>
					<td>有効・無効</td>
				</tr>
				<td><%= @owner.name %></td>
				<td><%= @owner.email %></td>
				<td><%= actived_status(@owner) %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center space">
			<h4><%= @owner.name %>さんの投稿しているカフェ</h4>
		</div>
		<div class="col-xs-6 col-xs-offset-3 text-center space">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>カフェ名</td>
						<td>有効・無効</td>
					</tr>
				</thead>
				<tbody>
					<% @shops.each do  |shop| %>
				    <tr>
					    <td><%= link_to shop.shop_name , admins_shop_path(shop) %>
					    </td>
					    <td><%= active_status(shop) %></td>
				    </tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
