<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2">
      <h3><%= @shop.shop_name %>の情報</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <table class="table table-bordered">
        <tr>
          <th class="th_show">
            <%= attachment_image_tag @shop, :shop_image,:fill,50,50 , format: 'jpeg', fallback: "no_image.jpg" , class:"shop_show_img" %>
          </th>
          <td class="td_show">
            <%= @shop.shop_detail %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <th>席数</th>
          <td><%= @shop.seat %>席</td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td><%= @shop.open_time %>時〜<%= @shop.close_time %>時</td>
        </tr>
        <tr>
          <th>定休日</th>
          <td>
            <% @shop.holidays.each do |h| %>
              <%= holiday(h.holiday_number) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>タグ</th>
          <td>
            <% @tag.each do |t| %>
              <span class="label label-success"><%= t.name %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>
            <%= @shop.phone_number %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-5">
      <style type="text/css">
        #map { height: 400px;
               width: 400px;}
      </style>
      <div id="map"></div>
    </div>
  </div>
</div>
<!-- 地名入力用のinputを追加 -->
<!-- <input id="address" type="textbox" value="Sydney, NSW"> -->
<!-- buttonをクリックしたらcodeAddressを実行　-->
<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/
let map
let geocoder
window.onload = function() {
initMap();
codeAddress();
}
function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 0, lng: 0},
  zoom: 15
  });
}
function codeAddress(){
    // geocodingしたあとmapを移動
    geocoder.geocode( { 'address': '<%= @shop.address %>'}, function(results, status) {
      if (status == 'OK') {
  // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location);
  // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP'] %>&callback=initMap"></script>
