<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
    	    <h3>パスワードをお忘れの方へ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			    <div class="row">
				    <div class="col-xs-10 col-xs-offset-1">
                        <div class="field">
					    	<div class="row">
				                <div class="col-xs-5 space text-right">
							        <%= f.label :メールアドレス , class:"font" %>
							    </div>
							    <div class="col-xs-6 space">
							        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
							    </div>
							</div>
					    </div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">

					    <div class="actions">
					        <%= f.submit "パスワードをリセットする" , class:"btn btn-primary" %>
					    </div>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">

			        <%= link_to "ログイン画面に戻る" , new_owner_session_path  %>
			    </div>
			</div>
		</div>
	</div>
</div>

