<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center space">
      <h3>オーナーの方はこちらから会員登録</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "owners/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="row">
            <div class="col-xs-5 col-xs-offset-2 space">
              <%= f.label :名前 , class:"font" %>
            </div>
            <div class="col-xs-4 space">
              <%= f.text_field :name, autofocus: true, autocomplete: "name" , class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="row">
            <div class="col-xs-5 col-xs-offset-2 space">
              <%= f.label :メールアドレス , class:"font" %>
            </div>
            <div class="col-xs-4 space">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="row">
            <div class="col-xs-5 col-xs-offset-2 space">
              <%= f.label :パスワード（6文字以上）, class:"font" %>
            </div>
            <div class="col-xs-4 space">
              <%= f.password_field :password, autocomplete: "new-password" , class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="row">
            <div class="col-xs-5 col-xs-offset-2 space">
              <%= f.label :パスワード（確認用）, class:"font" %>
            </div>
            <div class="col-xs-4 space">
              <%= f.password_field :password_confirmation , class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-4">
            <div class="actions">
              <%= f.submit "　新規登録　" , class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
          <h3> すでに登録済みの方</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
          <p><%= link_to "こちら" , new_owner_session_path %>
             からログインしてください</p>
        </div>
      </div>
    </div>
  </div>
</div>

