<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-2 space">
			<h3>編集フォーム</h3>
		</div>
	</div>
    <% if @shop.errors.any? %>
       <h3>error</h3>
       <% @shop.errors.full_messages.each do |message| %>
           <li><%= message %></li>
        <% end %>
    <% end %>
	<%= form_for(@shop, url: admins_shop_path) do |f| %>
	    <div class="row">
		    <div class="col-xs-8 col-xs-offset-2">
		    	<div class="field">
                    <div class="row">
                        <div class="col-xs-3 space">
                            <%= f.label :トップページに表示 %>
                        </div>
                        <div class="col-xs-1 col-xs-offset-1">
                                <%= f.radio_button :is_favorite, :true , class:"form-control" %>
                            </div>
                            <div class="col-xs-2">
                                <p class="text_size">表示</p>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1">
                                <%= f.radio_button :is_favorite, :false , class:"form-control" %>
                            </div>
                             <div class="col-xs-2">
                                <p class="text_size">非表示</p>
                            </div>
                        </div>
                    </div>
		    		<div class="row">
                        <div class="col-xs-2 space">
                        	<%= f.label :ショップ名 %>
                        </div>
                        <div class="col-xs-9 col-xs-offset-1  space">
                        	<%= f.text_field :shop_name , class:"form-control" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        	<%= f.label :ショップ詳細 %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                        	<%= f.text_area :shop_detail , class:"form-control space" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        	<%= f.label :住所 %>
                        </div>
                        <div class="col-xs-9 col-xs-offset-1">
                        	<%= f.text_field :address , class:"form-control space" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                        	<%= f.label :席数（半角数字） %>
                        </div>
                        <div class="col-xs-2  col-xs-offset-1">
                        	<%= f.text_field :seat , class:"form-control" %>
                        </div>
                        <div class="col-xs-1">
                        	<p class="text_size">席</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                        	<%= f.label :営業時間（半角数字） %>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                        	<%= f.text_field :open_time , class:"form-control" %>
                        </div>
                        <div class="col-xs-1">
                        	<p class="text_size">時〜</p>
                        </div>
                        <div class="col-xs-2">
                        	<%= f.text_field :close_time , class:"form-control" %>
                        </div>
                        <div class="col-xs-1">
                        	<p class="text_size">時</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        	<%= f.label :電話番号 %>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1">
                        	<%= f.text_field :phone_number , class:"form-control space" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        	<%= f.label :イメージ画像 %>
                        </div>
                        <div class="col-xs-3 col-xs-offset-1">
                        	<%= f.attachment_field :shop_image , class:"space" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">

                            <%= f.label :定休日 %>
                        </div>
                        <div class="col-xs-9">
                            <ul class="edit_list">
                                <% ["日曜日","月曜日","火曜日","水曜日","木曜日","金曜日","土曜日"].each_with_index do |holiday,i| %>
                                    <% if @holidays_select.include?(i) %>
                                        <li><%= f.check_box :holiday,{ multiple: true, checked: true },i, nil %>
                                            <span><%= holiday %>　</span>
                                        </li>
                                    <% else %>
                                        <li><%= f.check_box :holiday,{ multiple: true, checked: false },i, nil %>
                                            <span><%= holiday %>　</span>
                                        </li>
                                    <% end%>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 space">
                            <%= f.label :タグ %>
                        </div>
                        <div class="col-xs-9 space">
                            <ul class="edit_list tags">
                                <% @tags.each do |tag,i| %>
                                    <% if @tags_select.include?(tag.id) %>
                                        <div>
                                            <li><%= f.check_box :tag,{ multiple: true, checked: true }, tag.id, nil %>
                                                <span><%= tag.name %>　</span>
                                            </li>
                                        </div>
                                    <% else %>
                                        <div>
                                            <li><%= f.check_box :tag,{ multiple: true, checked: false }, tag.id, nil %>
                                                <span><%= tag.name %>　</span>
                                            </li>
                                        </div>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                            	<%= f.label :有効・無効 %>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1">
                            	<%= f.radio_button :is_active, :true , class:"form-control" %>
                            </div>
                            <div class="col-xs-1">
                            	<p class="text_size">有効</p>
                            </div>
                            <div class="col-xs-1 col-xs-offset-1">
                            	<%= f.radio_button :is_active, :false , class:"form-control" %>
                            </div>
                             <div class="col-xs-1">
                            	<p class="text_size">無効</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="action col-xs-3 col-xs-offset-4">
                            	<%= f.submit "編集内容を保存する" , class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>


<%= link_to "戻る" , admins_shop_path %>