<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 space text-center">
      <h3>オーナーの方はこちらからログイン</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2  space">
              <%= f.label :メールアドレス , class:"font" %>
            </div>
            <div class="col-xs-5 space" >
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2 space">
              <%= f.label :パスワード , class:"font" %>
            </div>
            <div class="col-xs-5 space">
              <%= f.password_field :password, autocomplete: "current-password" , class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-5 space">

            <%= link_to "=>パスワードを忘れた方はこちら" , new_owner_password_path %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-xs-offset-5">

            <div class="actions">
              <%= f.submit "ログイン" , class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">

          <h3>登録がお済みでない方</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p><%= link_to "こちら" , new_owner_registration_path %>から新規登録を行なってください</p>
        </div>
      </div>
    </div>
  </div>
</div>
